<script src="/javascripts/utilidades.js"></script>
<script src="/javascripts/tagsinput.js"></script>
<script>
    $(document).ready(function () {
        $("#hab").tagsinput();
        $("#enf").tagsinput();
        $("#enf_her").tagsinput();
    });
</script>
<script>
    $(function () {
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras");

        $.validator.addMethod("registro", function (value, element) {
            return this.optional(element) || /^[N]-[0-9]{4}-[R]-[0-9]{3}$/.test(value);
        }, "Ingrese un registro valido");

        $.validator.addMethod("cedula", function (value, element) {
            return this.optional(element) || validarCedula(value);
        }, "Cedula no valida");
        $("#formulario").validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                cedula: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    cedula: true
                },
                apellidos: {
                    required: true
                },
                nombres: {
                    required: true
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();

            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
<script>
    $(document).ready(function (){
        var url = "https://jsonplaceholder.typicode.com/todos";
        $.ajax({
            url: url,
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {
                console.log(data);
            }
        });
    });
</script>
<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de pacientes</div>
        <div class="panel-body">
            <!--modal-->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registro de pacientes</h4>
                        </div>
                        <div class="modal-body">
                            <form id="formulario" method="POST" action="/administracion/paciente/guardar">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paciente</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Historial</a></li>                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="form-group">
                                                <label for="cedula" class="control-label">Cedula:</label>
                                                <input type="text" class="form-control" id="cedula" name="cedula">
                                            </div>
                                            <div class="form-group">
                                                <label for="apellidos" class="control-label">Apellidos:</label>
                                                <input type="text" class="form-control" id="apellidos" name="apellidos">
                                            </div>
                                            <div class="form-group">
                                                <label for="nombres" class="control-label">Nombres:</label>
                                                <input type="text" class="form-control" id="nombres" name="nombres">
                                            </div>
                                            <div class="form-group">
                                                <label for="fecha_nac" class="control-label">Fecha de nacimiento:</label>
                                                <input type="date" class="form-control" id="fecha_nac" name="fecha_nac">
                                            </div>
                                            <div class="form-group">
                                                <label for="edad" class="control-label">Edad:</label>
                                                <input type="text" class="form-control" id="edad" name="edad">
                                            </div>
                                            <div class="form-group">
                                                <label for="direccion" class="control-label">Direccion:</label>
                                                <textarea id="direccion" class="form-control" name="direccion"></textarea>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                            <div class="form-group">
                                                <label for="nro_his" class="control-label">Nro historial:</label>
                                                <input type="text" class="form-control" id="nro_his" name="nro_his" value="<%= nro %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="enf" class="control-label">Enfermedades:</label>
                                                <input type="text" class="form-control" id="enf" name="enf">
                                            </div>
                                            <div class="form-group">
                                                <label for="enf_her" class="control-label">Enfermedades hederitarias:</label>
                                                <input type="text" class="form-control" id="enf_her" name="enf_her">
                                            </div>
                                            <div class="form-group">
                                                <label for="hab" class="control-label">Habitos:</label>
                                                <input type="text" class="form-control" id="hab" name="hab">
                                            </div>
                                            <div class="form-group">
                                                <label for="contacto" class="control-label">En caso de emergencia llamar:</label>
                                                <input type="text" class="form-control" id="contacto" name="contacto">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- fin modal -->


            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo</a>
            <% if(typeof msg != 'undefined') { %>
            <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
            <div class="form-group">
                <div class="label label-danger" style="font-size: 8px">
                    <%= msg.error %>
                </div>                        
            </div>                  
            <% } %>
            <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
            <div class="form-group">
                <div class="label label-success" style="font-size: 8px">
                    <%= msg.info %>
                </div>                        
            </div>                  
            <% } %>
            <% } %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro</th><th>Cedula</th><th>Paciente</th><th>Nro Historia</th><th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% listado.forEach(function (item, index) { %>
                    <tr>
                        <td>
                            <%= (index + 1) %>
                        </td>
                        <td>
                            <%= item.cedula %>
                        </td>
                        <td>
                            <%= item.apellidos %> <%= item.nombres %>
                        </td>
                        <td>
                            <%= item.historia.nro_historia %>
                        </td>
                        <td>
                            NADA
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
